
.container_questions {
    display: flex;

}

.container_question_options {
    margin: 10px;

}

.container_question_indication {
    display: flex;
}

.question_answer_option{
    padding:10px;
}

.picked_option{
    border: 1px solid #0f0;

}
.span_text_option{
    padding: 5px;
}
.hide {
    display: none;
}

.question_options{
    display:flex;
    flex-direction: column;
}

.correct_answer {
    background-color:#0f0;
}

.hidden_warning_of_not_answered{
    display: none
}

.hidden_content_feedback {
    display: none;
}

.indicator_that_was_correct{
    background-color: green;
    color: #fff;
}

.indicator_that_was_wrong{
    background-color: red;
    color: #fff;
}

.span_question_indication{
}