
.container_questions {
    display: flex;
    justify-content: space-between;
    min-width: 550px;
}

.question_answer_option{
    padding:10px;
}

.picked_option{
    border: 1px solid #0f0;
    padding: 5px;
}

.hide {
    display: none;
}

.question_options{
    display:flex;
    flex-direction: column;
}

.correct_answer {
    background-color:#0f0;
}

.hidden_warning_of_not_answered{
    display: none
}

.hidden_content_feedback {
    display: none;
}