
.container_questions {
    display: flex;
    flex-direction:column;
}

.container_question_options {
    margin: 10px;

}

.container_question_indication {
    display: flex;
}

.question_answer_option{
    padding:10px;
}

.picked_option{
    border: 1px solid #0f0;

}

.picked_option_correct{
    border: 1px solid #0f0;
    border-radius: 8px;
    background-color: green;
    color: #fff;
}

.picked_option_incorrect{
    border: 1px solid #f00;
    border-radius: 8px;
    background-color: #f00;
    color:#fff;
}

.span_text_option{
    padding: 5px;
    border: 1px solid #ccc;
}
.hide {
    display: none;
}

.question_options{
    display:flex;
    flex-direction: column;
}

.correct_answer {
    background-color:#0f0;
        border-radius: 8px;
}

.hidden_warning_of_not_answered{
    display: none
}

.hidden_content_feedback {
    display: none;
}

.indicator_that_was_correct{
    background-color: green;
    color: #fff;

}

.indicator_that_was_wrong{
    background-color: red;
    color: #fff;
}

.span_question_indication{

    padding: 8px;
    border: 1px solid #000;
    margin: 8px;
}

.show_results_button,.restart_quiz_button{
    margin: 10px;
}