{% extends "template.html" %}

{% block content %}

<h1>QUIZ</h1>

<div class="container">
    <h2 id="question_text"></h2>

    <div class="container_questions">
        <span>
              <button type="button" class="btn btn-primary" id="button_previous_question">Anterior</button>
        </span>

        <form  class="question_options" id="question_options">

        </form>

        <span>
             <button type="button" class="btn btn-primary" id="button_next_question">Próxima</button>
        </span>
    </div>

    <button id="show_results_button">
        Mostrar resultado
    </button>

    <p id="warning_of_not_answered" class="hidden_warning_of_not_answered">
        Há perguntas que não foram respondidas
    </p>

    <p id="content_feedback" class="hidden_content_feedback">

    </p>
</div>

{% endblock %}