<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"/>
</head>
<body>

    <div class="card">
        <div class="card-header">
            <h2 id="change-quiz-button" class="card-title">Escolha um quiz</h2>
            <ul id="options_quiz" class="hide">

            </ul>
        </div>
        {% block content %} {% endblock %}
    </div>

     <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='aux_content.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>